<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514855038558-cn03ldgbfn3ofos6av01c49ead7vskhi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514855038558-cn03ldgbfn3ofos6av01c49ead7vskhi</string>
	<key>API_KEY</key>
	<string>AIzaSyDjU8rtP1IM0QCPsWHKrWkbVm8orjLfASM</string>
	<key>GCM_SENDER_ID</key>
	<string>514855038558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.starter</string>
	<key>PROJECT_ID</key>
	<string>starter-1c102</string>
	<key>STORAGE_BUCKET</key>
	<string>starter-1c102.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514855038558:ios:47a7b48ddd05256e364ecf</string>
</dict>
</plist>